*
{
  margin: 0;
   padding: 0;

  }

  .navbar-brand img
  {
width:140px;
display:flex;
flex-wrap: wrap;
position:absolute;
  }

  .navbar-brand
  {
    left:40%;
    transform: translateX(-50%);
    top:-18px;
    position:absolute;

  }
  .header
  {
background-color: pink;
  }
   .navbar
   {
     padding: 0 0 !important;
     height: 120px;
     background-color: pink;
   }
.navbar-toggler
{
border: none !important;
outline:none !important;
padding:0 !important;
margin-top:30px;

}

.background-image
{
  margin: 30px 0px;
  width:100%;
  display: inline-block;


}
.background-image p{
  text-align:justify;
  word-wrap: break-word;
  text-indent:  0 30px;
  vertical-align: middle;
  margin-top: 120px;
  font-family: sans-serif;

}
.background-image  img
 {
   width:20%;
   margin-bottom: -80px;
   float:right;
   margin-right: 90px;
   margin-top: 20px;
   padding-left: 20px;
 }
 .background
 {
   position:absolute;
  margin-top: 80px;
 }

.homepage-title
{
  position: relative;
  margin: 0;
  text-align: center;
  background:#000;
  border-radius:0 0 50% 50%;
  width: 100%;
  height: 21vw;
  justify-content: center;
  display: block;

}
.words
{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20%;
  font-style: italic;
  font-family: cursive;
  text-align: center;
  padding-top: 100px;
  text margin-top: inline-block;
}

@media (max-width:375px)
  {
.navbar-brand
{
  display: none;
}
.homepage-title
{display: contents;
  background:#111;
}
.words{
  padding-top: 0;
}

.background{
  margin-top: 120px;
  width:100%;
}

.background-image p{
  text-align:justify;
  word-wrap: break-word;
  vertical-align: middle;
  margin-top: 60px;
  font-family: sans-serif;
padding-top: 67px;
padding-right: 50px;
}
  .background-image  img
   {
     width:35%;
     margin-right: 120px;
     margin-top: -75px;

   }
   .background-image
   {
     margin:0px 0px;
     width:100%;
     display: inline-block;}
   /*---------------->end of index html-------------------*/ }

.lead
{
  font-weight:bold;
  margin-top: 30px;
  margin-left: 60px;
  text-align: center;
  display: inline-block;
}
.top
{
  width:100%;
  display: block;
  margin-right: 70px;
  position: absolute;
  margin-top: 20px;
  padding-left: 20%;
}

.top  ol
{
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0px;
  padding-left: 20%;
}
.alert
{
  margin-top: 60px;
  margin-left: 70px;
  margin-right: 90px;
}
.boxdiv
{
  min-height: 150px;
  padding-left: 20px;
position: absolute;
  background-color: #F08080;
  font-weight: 300;
  color: black;
  margin-top: 220px;
  margin-left: 60px;
  padding-bottom: 40px;

}
.business-formal-image
{
  position:absolute;
 margin-top: 180px;
 float: right;

}
.bfimage
{
  margin: -140px -140px;
  width:100%;
  display: inline-block;
  float:right;

}
.bfimage img
{
margin-left: 750px;
  width:35%;
  margin-top: 90px;

}
.business-professional-image
{
  margin-bottom: 70px;
  position: relative;
  display: inline-block;
  width:100%;

}
.business-professional-image img
{
  margin: 254px -225px;

}

.boxdiv2
{
  min-height: 150px;
  padding-left: 20px;
position: absolute;
  background-color: #F08080;
  font-weight: 300;
  color: black;
  margin-top: 290px;
  margin-left: 90px;
  padding-bottom: 40px;
  width: 700px;

}
.business-casual-image
{
  margin-bottom:0px;
  position: relative;
  display: inline-block;
  width:250%;

}
.business-casual-image img
{
  margin: -193px -593px;
  width:100%;

}

.boxdiv3
{
  min-height: 150px;
  padding-left: 20px;
position: absolute;
  background-color: #808080;
  font-weight: 300;
  color: black;
  margin-top: -178px;
  float: left;
  padding-bottom: 40px;
  width: 700px;
  margin-left: -280px;
  margin-bottom: 70px;

}

.casual-image
{
  margin-bottom:0px;
  position: relative;
  display: inline-block;
  width:100px;


}
.casual-image img
{
  margin: 180px 130px;
  width:100%;


}

.boxdiv4
{
  min-height: 150px;
  padding-left: 20px;
position: absolute;
  background-color: #808080;
  font-weight: 300;
  color: black;
  margin-top: 180px;
  float: left;
  padding-bottom: 40px;
  width: 700px;
  margin-left: 230px;

}
