*
{
  margin: 0;
   padding: 0;

  }

  .navbar-brand img
  {
width: 50%
  }

  .navbar-brand
  {
    left:40%;
    transform: translateX(40%);
    top:1px;
    position: absolute;
  }
  .header
  {background-color:white;
   }
   .navbar
   {
     padding: 0 35px !important;
     height: 120px;
   }
.navbar-toggler
{
border: none !important;
outline:none !important;
padding:0 !important;
margin-top:30px;

}
.main
{
text-align: center;
text
}
.background-img
{
  margin: 80px 115px;
  width:60%;
}
.banner-img  img
 {
   width: 100%;
   margin-bottom: -80px;
 }
 .background
 {
   position: relative;
 }
.baCKGROUND-title
{position: absolute;
}
